Repository ruanyl/OpenSearch-Dashboards, pull requests merged in 2023-09, with the labels that each got.

#122 feat: customize management workspace
  src/plugins/workspace/public/components/index.ts
  src/plugins/workspace/public/components/workspace_creator/index.tsx
  src/plugins/workspace/public/components/workspace_creator/workspace_creator.tsx
  src/plugins/workspace/public/components/workspace_creator/workspace_form.tsx
  src/plugins/workspace/public/components/workspace_updater/workspace_updater.tsx
  src/plugins/workspace/server/plugin.ts
Labels: Skip-Changelog, seasoned-contributor

#129 cleanup: move WORKSPACE_TYPE constant to core/utils/constants
  src/core/public/index.ts
  src/core/public/utils/index.ts
  src/core/public/utils/workspace.ts
  src/core/server/index.ts
  src/core/server/saved_objects/constants.ts
  src/core/server/saved_objects/index.ts
  src/core/server/saved_objects/permission_control/client.ts
  src/core/server/saved_objects/routes/share.ts
  src/core/utils/constants.ts
  src/core/utils/index.ts
  src/plugins/workspace/server/workspace_client.ts
Labels: Skip-Changelog, all-star-contributor, backport workspace-2.9

#124 Revert "[Refractor] Feature flag (#102)"
  src/plugins/workspace/config.ts
  src/plugins/workspace/public/plugin.ts
  src/plugins/workspace/public/workspace_client.ts
  src/plugins/workspace/server/plugin.ts
  src/plugins/workspace/server/routes/index.ts
Labels: Skip-Changelog, valued-contributor, backport workspace-2.9

#131 fix: type import on WORKSPACE_TYPE
  src/plugins/workspace/server/workspace_client.ts
Labels: Skip-Changelog, all-star-contributor, backport workspace-2.9

#128 Setup mechanism for register customized query DSL logic
  src/core/server/saved_objects/permission_control/client.ts
  src/core/server/saved_objects/service/lib/repository.mock.ts
  src/core/server/saved_objects/service/lib/repository.ts
  src/core/server/saved_objects/service/lib/utils.ts
  src/core/server/saved_objects/service/saved_objects_client.ts
  src/plugins/workspace/server/index.ts
  src/plugins/workspace/server/saved_objects/workspace_saved_objects_client_wrapper.ts
Labels: Skip-Changelog, all-star-contributor, backport workspace-2.9

#126 refactor: derive currentWorkspace in workspaces_service
  src/core/public/chrome/ui/header/__snapshots__/collapsible_nav.test.tsx.snap
  src/core/public/chrome/ui/header/__snapshots__/header.test.tsx.snap
  src/core/public/workspace/workspaces_service.mock.ts
  src/core/public/workspace/workspaces_service.ts
  src/plugins/workspace/public/plugin.ts
  src/plugins/workspace/public/workspace_client.ts
Labels: Skip-Changelog, valued-contributor, backport workspace-2.9

#132 fix: workspace permission entire update
  src/plugins/workspace/server/workspace_client.ts
Labels: Skip-Changelog, seasoned-contributor, backport workspace-2.9

#130 [Feature] Setup workspace skeleton and implement basic CRUD API
  src/core/server/index.ts
  src/core/types/index.ts
  src/core/types/workspace.ts
  src/core/utils/constants.ts
  src/core/utils/index.ts
  src/plugins/workspace/opensearch_dashboards.json
  src/plugins/workspace/public/index.ts
  src/plugins/workspace/public/plugin.ts
  src/plugins/workspace/server/index.ts
  src/plugins/workspace/server/plugin.ts
  src/plugins/workspace/server/routes/index.ts
  src/plugins/workspace/server/saved_objects/index.ts
  src/plugins/workspace/server/saved_objects/workspace.ts
  src/plugins/workspace/server/types.ts
  src/plugins/workspace/server/utils.test.ts
  src/plugins/workspace/server/utils.ts
  src/plugins/workspace/server/workspace_client.ts
  yarn.lock
Labels: Skip-Changelog

#133 Add workspaces parameter to resolve_import_errors API
  src/core/server/saved_objects/import/resolve_import_errors.ts
  src/core/server/saved_objects/import/types.ts
  src/core/server/saved_objects/routes/import.ts
  src/core/server/saved_objects/routes/resolve_import_errors.ts
  src/plugins/saved_objects_management/public/lib/resolve_import_errors.ts
  src/plugins/saved_objects_management/public/management_section/objects_table/components/flyout.tsx
Labels: Skip-Changelog, repeat-contributor, backport workspace-2.9

#125 Add debug log when encounters permission check failure
  src/core/server/saved_objects/permission_control/client.ts
  src/core/server/saved_objects/saved_objects_service.ts
Labels: Skip-Changelog, backport workspace-2.9

#84 Delete saved object when deleting workspace
  src/core/server/index.ts
  src/core/server/saved_objects/service/lib/repository.mock.ts
  src/core/server/saved_objects/service/lib/repository.test.js
  src/core/server/saved_objects/service/lib/repository.ts
  src/core/server/saved_objects/service/saved_objects_client.ts
  src/core/types/workspace.ts
  src/plugins/workspace/server/saved_objects/workspace.ts
  src/plugins/workspace/server/saved_objects/workspace_saved_objects_client_wrapper.ts
  src/plugins/workspace/server/workspace_client.ts
Labels: Skip-Changelog, valued-contributor, backport workspace-2.9

#118 feat: import sample data saved objects to workspace
  src/plugins/home/public/application/components/sample_data_set_cards.js
  src/plugins/home/public/application/opensearch_dashboards_services.ts
  src/plugins/home/public/application/sample_data_client.js
  src/plugins/home/public/plugin.ts
  src/plugins/home/server/services/sample_data/data_sets/ecommerce/index.ts
  src/plugins/home/server/services/sample_data/data_sets/flights/index.ts
  src/plugins/home/server/services/sample_data/data_sets/logs/index.ts
  src/plugins/home/server/services/sample_data/data_sets/util.ts
  src/plugins/home/server/services/sample_data/lib/sample_dataset_registry_types.ts
  src/plugins/home/server/services/sample_data/routes/install.test.ts
  src/plugins/home/server/services/sample_data/routes/install.ts
  src/plugins/home/server/services/sample_data/routes/list.test.ts
  src/plugins/home/server/services/sample_data/routes/list.ts
  src/plugins/home/server/services/sample_data/routes/uninstall.test.ts
  src/plugins/home/server/services/sample_data/routes/uninstall.ts
Labels: seasoned-contributor, backport workspace-2.9

#151 feat: make workspace permission first row deletable for workspace create
  src/plugins/workspace/public/components/workspace_creator/workspace_creator.tsx
  src/plugins/workspace/public/components/workspace_creator/workspace_form.tsx
  src/plugins/workspace/public/components/workspace_creator/workspace_permission_setting_panel.tsx
Labels: Skip-Changelog, seasoned-contributor, backport workspace-2.9

#142 Refractor: remove `processFindOptions` and `getPermissionQuery` methods declaration in repositoryClient
  src/core/public/chrome/ui/header/__snapshots__/header.test.tsx.snap
  src/core/public/saved_objects/saved_objects_client.ts
  src/core/server/saved_objects/permission_control/client.ts
  src/core/server/saved_objects/service/lib/repository.mock.ts
  src/core/server/saved_objects/service/lib/repository.ts
  src/core/server/saved_objects/service/lib/search_dsl/query_params.ts
  src/core/server/saved_objects/service/lib/search_dsl/search_dsl.ts
  src/core/server/saved_objects/service/lib/utils.ts
  src/core/server/saved_objects/service/saved_objects_client.ts
  src/core/server/saved_objects/types.ts
  src/plugins/workspace/server/saved_objects/workspace_saved_objects_client_wrapper.ts
Labels: all-star-contributor, backport workspace-2.9

#140 Self host runner
  .github/workflows/add-untriaged.yml
  .github/workflows/backport.yml
  .github/workflows/build_and_test_workflow.yml
  .github/workflows/changelog_verifier.yml
  .github/workflows/create_doc_issue.yml
  .github/workflows/delete_backport_branch.yml
  .github/workflows/github-workflow-badger.yml
  .github/workflows/links_checker.yml
Labels: Skip-Changelog, all-star-contributor, backport workspace-2.9

#149 Remove public workspace logic for share API
  src/core/server/saved_objects/routes/index.ts
  src/core/server/saved_objects/routes/share.ts
  src/core/server/saved_objects/service/lib/repository.ts
  src/core/server/saved_objects/service/saved_objects_client.ts
Labels: Skip-Changelog, valued-contributor, backport workspace-2.9

#138 Retire dashboards management
  src/plugins/advanced_settings/public/plugin.ts
  src/plugins/opensearch_dashboards_react/public/overview_page/overview_page_header/overview_page_header.tsx
  src/plugins/saved_objects_management/public/plugin.ts
  src/plugins/workspace/public/plugin.ts
Labels: valued-contributor, backport workspace-2.9

#156 Replace savedObjectRepository with savedObjectClient
  src/plugins/workspace/common/constants.ts
  src/plugins/workspace/server/plugin.ts
  src/plugins/workspace/server/types.ts
  src/plugins/workspace/server/workspace_client.ts
Labels: Skip-Changelog, seasoned-contributor, backport workspace-2.9

#161 disable github workflows running on windows for development
  .github/workflows/build_and_test_workflow.yml
  .github/workflows/cypress_workflow.yml
Labels: Skip-Changelog, seasoned-contributor, backport workspace-2.9

#171 [manually backport workspace-2.9] Retire dashboards management (#138)
  src/plugins/advanced_settings/public/plugin.ts
  src/plugins/opensearch_dashboards_react/public/overview_page/overview_page_header/overview_page_header.tsx
  src/plugins/saved_objects_management/public/plugin.ts
  src/plugins/workspace/public/plugin.ts
Labels: Skip-Changelog, autocut

#175 fix failed tests of discover 2.0
  src/plugins/discover/public/application/components/top_nav/open_search_panel.tsx
  src/plugins/discover_legacy/public/application/components/top_nav/__snapshots__/open_search_panel.test.js.snap
Labels: seasoned-contributor

#174 fix failed tests after syncing with main
  src/core/public/chrome/ui/header/__snapshots__/collapsible_nav.test.tsx.snap
  src/core/public/chrome/ui/header/__snapshots__/header.test.tsx.snap
  src/plugins/dashboard/public/application/components/dashboard_listing/__snapshots__/dashboard_listing.test.tsx.snap
  src/plugins/dashboard/public/application/components/dashboard_top_nav/__snapshots__/dashboard_top_nav.test.tsx.snap
Labels: seasoned-contributor

#163 feat: skip permission validate when no workspaces and permissions attributes
  src/plugins/workspace/server/saved_objects/workspace_saved_objects_client_wrapper.ts
Labels: Skip-Changelog, seasoned-contributor, backport workspace-2.9

#176 Fix typo
  src/plugins/workspace/server/plugin.ts
  src/plugins/workspace/server/types.ts
  src/plugins/workspace/server/workspace_client.ts
Labels: seasoned-contributor, backport workspace-2.9

#179 Cleanup: remove exit workspace logic
  src/plugins/workspace/public/components/workspace_updater/workspace_updater.tsx
  src/plugins/workspace/public/workspace_client.ts
Labels: Skip-Changelog, seasoned-contributor, backport workspace-2.9

#178 Feat: setup reserved workspaces when calling list workspaces API
  src/core/server/index.ts
  src/core/utils/constants.ts
  src/core/utils/index.ts
  src/plugins/workspace/server/permission_control/client.mock.ts
  src/plugins/workspace/server/permission_control/client.ts
  src/plugins/workspace/server/plugin.ts
  src/plugins/workspace/server/saved_objects/workspace_saved_objects_client_wrapper.ts
  src/plugins/workspace/server/types.ts
  src/plugins/workspace/server/utils.ts
  src/plugins/workspace/server/workspace_client.ts
Labels: all-star-contributor, backport workspace-2.9

#181 feat: use passed ACLSearchParams.permissionModes
  src/plugins/workspace/server/permission_control/client.ts
  src/plugins/workspace/server/saved_objects/workspace_saved_objects_client_wrapper.ts
  src/plugins/workspace/server/workspace_client.ts
Labels: Skip-Changelog, seasoned-contributor, backport workspace-2.9

#182 use self hosted runner and disable windows workflow
  .github/workflows/build_and_test_workflow.yml
  .github/workflows/cypress_workflow.yml
Labels: seasoned-contributor

#188 Fix failed UT for index pattern and retire dashboard management
  src/plugins/data/public/search/errors/painless_error.tsx
  src/plugins/opensearch_dashboards_react/public/overview_page/overview_page_header/overview_page_header.test.tsx
Labels: seasoned-contributor

#194 Patch/first pr
  CHANGELOG.md
  src/plugins/workspace/common/constants.ts
  src/plugins/workspace/config.ts
  src/plugins/workspace/server/index.ts
  src/plugins/workspace/server/integration_tests/routes.test.ts
  src/plugins/workspace/server/plugin.ts
  src/plugins/workspace/server/routes/index.ts
  src/plugins/workspace/server/saved_objects/workspace.ts
  src/plugins/workspace/server/types.ts
  src/plugins/workspace/server/workspace_client.ts
  test/api_integration/apis/index.js
  test/api_integration/apis/workspace/index.ts
Labels: all-star-contributor, backport workspace

#191 Test for workspace core service
  src/core/public/core_system.test.mocks.ts
  src/core/public/core_system.test.ts
  src/core/public/core_system.ts
  src/core/public/mocks.ts
  src/core/public/plugins/plugins_service.test.ts
  src/core/public/workspace/workspaces_service.mock.ts
  src/core/public/workspace/workspaces_service.test.ts
  src/core/public/workspace/workspaces_service.ts
Labels: seasoned-contributor, backport workspace

#189 feat: optimize logic when checkConflict and bulkCreate
  src/core/server/saved_objects/service/lib/repository.ts
Labels: all-star-contributor, backport workspace-2.9

#197 add unit tests for workspace core service (#191)
  src/core/public/application/types.ts
  src/core/public/chrome/chrome_service.tsx
  src/core/public/chrome/ui/header/collapsible_nav.tsx
  src/core/public/chrome/ui/header/collapsible_nav_header.tsx
  src/core/public/chrome/ui/header/header.tsx
  src/core/public/core_system.test.mocks.ts
  src/core/public/core_system.test.ts
  src/core/public/core_system.ts
  src/core/public/index.ts
  src/core/public/mocks.ts
  src/core/public/plugins/plugins_service.test.ts
  src/core/public/workspace/index.ts
  src/core/public/workspace/workspaces_service.mock.ts
  src/core/public/workspace/workspaces_service.test.ts
  src/core/public/workspace/workspaces_service.ts
  src/plugins/home/public/application/opensearch_dashboards_services.ts
  src/plugins/saved_objects_management/public/management_section/objects_table/components/duplicate_modal.tsx
  src/plugins/saved_objects_management/public/management_section/objects_table/saved_objects_table.test.tsx
  src/plugins/saved_objects_management/public/management_section/objects_table/saved_objects_table.tsx
  src/plugins/workspace/public/workspace_client.ts
Labels: seasoned-contributor

#186 Support to display workspace feature configured with wildcard
  src/plugins/workspace/public/components/workspace_creator/workspace_form.tsx
  src/plugins/workspace/server/routes/index.ts
  src/plugins/workspace/server/saved_objects/workspace_saved_objects_client_wrapper.ts
Labels: seasoned-contributor, backport workspace-2.9

#202 feat: reserved workspace customization
  src/plugins/workspace/public/components/workspace_updater/workspace_updater.tsx
  src/plugins/workspace/server/routes/index.ts
  src/plugins/workspace/server/workspace_client.ts
Labels: Skip-Changelog, seasoned-contributor

#195 Feat remove management permission mode in acl permission
  src/core/utils/constants.ts
  src/plugins/workspace/public/components/workspace_creator/workspace_permission_setting_panel.tsx
  src/plugins/workspace/public/workspace_client.ts
  src/plugins/workspace/server/routes/index.ts
  src/plugins/workspace/server/saved_objects/workspace_saved_objects_client_wrapper.ts
  src/plugins/workspace/server/types.ts
Labels: seasoned-contributor, backport workspace-2.9

#204 remove unnecessary workspace menu register
  src/core/public/core_system.test.ts
  src/core/public/core_system.ts
  src/core/public/workspace/workspaces_service.mock.ts
  src/core/public/workspace/workspaces_service.test.ts
  src/core/public/workspace/workspaces_service.ts
  src/plugins/dashboard/public/application/components/dashboard_listing/__snapshots__/dashboard_listing.test.tsx.snap
  src/plugins/dashboard/public/application/components/dashboard_top_nav/__snapshots__/dashboard_top_nav.test.tsx.snap
Labels: seasoned-contributor

#185 [Workspace] Add optional workspaces parameter to all saved objects API
  src/core/public/saved_objects/saved_objects_client.ts
  src/core/server/saved_objects/export/get_sorted_objects_for_export.ts
  src/core/server/saved_objects/import/check_conflicts.ts
  src/core/server/saved_objects/import/create_saved_objects.ts
  src/core/server/saved_objects/import/import_saved_objects.test.ts
  src/core/server/saved_objects/import/import_saved_objects.ts
  src/core/server/saved_objects/import/regenerate_ids.test.ts
  src/core/server/saved_objects/import/regenerate_ids.ts
  src/core/server/saved_objects/import/resolve_import_errors.ts
  src/core/server/saved_objects/import/types.ts
  src/core/server/saved_objects/migrations/core/__snapshots__/build_active_mappings.test.ts.snap
  src/core/server/saved_objects/migrations/core/build_active_mappings.ts
  src/core/server/saved_objects/migrations/core/index_migrator.test.ts
  src/core/server/saved_objects/migrations/opensearch_dashboards/__snapshots__/opensearch_dashboards_migrator.test.ts.snap
  src/core/server/saved_objects/routes/bulk_create.ts
  src/core/server/saved_objects/routes/create.ts
  src/core/server/saved_objects/routes/export.ts
  src/core/server/saved_objects/routes/find.ts
  src/core/server/saved_objects/routes/import.ts
  src/core/server/saved_objects/routes/integration_tests/find.test.ts
  src/core/server/saved_objects/routes/resolve_import_errors.ts
  src/core/server/saved_objects/serialization/serializer.ts
  src/core/server/saved_objects/serialization/types.ts
  src/core/server/saved_objects/service/lib/integration_tests/repository.test.ts
  src/core/server/saved_objects/service/lib/repository.test.js
  src/core/server/saved_objects/service/lib/repository.ts
  src/core/server/saved_objects/service/lib/search_dsl/query_params.test.ts
  src/core/server/saved_objects/service/lib/search_dsl/query_params.ts
  src/core/server/saved_objects/service/lib/search_dsl/search_dsl.ts
  src/core/server/saved_objects/service/lib/utils.ts
  src/core/server/saved_objects/service/saved_objects_client.ts
  src/core/server/saved_objects/types.ts
  src/core/types/saved_objects.ts
Labels: valued-contributor
